.brand {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 256px;
  height: 60px;
}

.banner {
  width: 100%;
  line-height: 1;
}

.art {
  max-width: 100%;
  width: 100%;
}
